<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            <a class="lead text-white">{{user.username}} on {{format_date created_at}}</a>
        </div>
        <div class="text list-group-item d-flex justify-content-between align-items-center">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>