<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <a class="navbar-brand text-white" href="/"><strong>My Dashboard</strong></a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#" id="logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="hero bg-light">
        <h1 class="lead text-center d-flex justify-content-center">"I'm writing a first draft and reminding myself that
            I'm simply shoveling sand into a box so that later I can build castles."</h1>
        <p class="lead d-flex justify-content-around">-Shannon Hale</p>
    </div>

    <main>
        <div class="bg-secondary">
            <nav class="navbar navbar-expand-lg bg-secondary">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link justify-content-sm-start text-white nav-pill" data-toggle="pill" href="/dashboard/new">Create New Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link justify-content-sm-start text-white nav-pill" data-toggle="pill" href="#" id="">Edit Post</a>
                    </li>
                </ul>
            </nav>
            {{{ body }}}
        </div>
    </main>

    <footer>
        <div class="footer-copyright text-center py-3">© <a href="http://github.com/itsrheine">itsrheine</a></div>
    </footer>

    </div>
    {{#if loggedIn}}
    <script src="javascript/logout.js"></script>
    {{/if}}
</body>

</html>