
{{#if loggedIn}}
<div class="bg-secondary">
    <nav class="navbar navbar-expand-lg bg-secondary">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link justify-content-sm-start text-white nav-pill" data-toggle="pill"
                    href="/dashboard/add">Create New Post</a>
            </li>
        </ul>
    </nav>
    <article class="posts list-group">
        {{#each posts}}
        <div class="list-group-item d-flex justify-content-between align-items-center bg-dark">
            <a href="/dashboard/post/{{id}}" class="lead text-white">{{title}}</a>
            <span class="post-meta text-white">Created at {{format_date created_at}}</span>
        </div>
        <div class="list-group-item d-flex justify-content-between align-items-center">
            {{content}}
        </div>
        {{/each}}
    </article>
</div>
{{/if}}
