<h1>Log in to Tech Blog</h1>
<form class="login-form">
    <div>
        <input type="text" id="username-login" placeholder="Username"/>
    </div>
    <div>
        <input type="password" id="password-login" placeholder="Password"/>
    </div>
    <div>
        <button type="submit">Log In</button>
    </div>
</form>
<div>
    <a type="button" href="/signup">Sign Up for Tech Blog</a>
</div>
<script src="/javascript/login.js"></script>